<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="./css/style1.css" />
    <link rel="stylesheet" href="./css/querry1.css" /> -->
  <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  margin-bottom: 10rem;
}

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.pexels.com/photos/1055379/pexels-photo-1055379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  font-size: 12rem;
  padding-top: 20rem;
  padding-bottom: 2rem;
  margin-bottom: 10rem;
}
.main p {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 3.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.box {
  margin: 2rem;
  height: 11rem;
  background-color: #00a21e;
  margin-top: 10rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.meal-img {
  width: 100%;
}
.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}
.meal {
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.2s;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transform: translate(0, -1.2rem);
}
.btn {
  font-weight: 600;
  font-size: 2em;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border: 0;
  transition: all 300ms;
  background-color: #00a31ecc;
  width: 100%;
  color: #00a31e;
  background-color: white;
  padding: 2rem;
}
.btn:hover {
  color: #006913;
}
@media (max-width: 1200px) {
  .main {
    font-size: 8rem;
  }
  .main p {
    font-size: 2rem;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .main {
    font-size: 6.5rem;
  }
  .main p {
    font-size: 3rem;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
}

  </style>
  </head>
  <body>
    <header class="heading">
      <h1 class="main">
        Disease ?<br />
        <p>
          No worries, We have list of Models to help you to find Disease and its
          Cure !
        </p>
      </h1>
    </header>
    <div class="container grid grid--3-cols margin-bottom-md">
      <div class="meal">
        <img src="/images/apple.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
          action="http://15.206.84.195/apple"
          target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">Apple</button>
          </form>
        </div>
      </div>
      <div class="meal">
        <img src="/images/cherry.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
          action="http://15.206.84.195/cherry"
          target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">Cherry</button>
          </form>
        </div>
      </div>
      <div class="meal">
        <img src="/images/grape.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
          action="http://15.206.84.195/grape"
          target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">Grape</button>
          </form>
        </div>
      </div>
      <div class="meal">
        <img src="/images/maize.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
          action="http://maize-disease-detection-pd.herokuapp.com/"
          target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">Maize</button>
          </form>
        </div>
      </div>
      <div class="meal">
        <img src="/images/peach.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
            action="http://15.206.84.195/peach"
            target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">Peach</button>
          </form>
        </div>
      </div>
      <div class="meal">
        <img src="/images/tomato.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
          action="http://15.206.84.195/tomato"
          target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">tomato</button>
          </form>
        </div>
      </div>
      <div class="meal">
        <img src="/images/pepper.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
          action="http://15.206.84.195/pepper"
          target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">Pepper</button>
          </form>
        </div>
      </div>
      <div class="meal">
        <img src="/images/potato.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
            action="http://15.206.84.195/potato"
            target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">potatoe</button>
          </form>
        </div>
      </div>
      <div class="meal">
        <img src="/images/strawberry.jpg" class="meal-img" alt="Japanese Gyozas" />
        <div class="meal-content">
          <form
          action="http://15.206.84.195/strawberry"
          target="_blank"
            class="col s12"
            enctype="multipart/form-data"
          >
            <button class="btn btn--form" onclick="">stawberry</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
