<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <title>Blog : Homepage</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar blog-nav">
        <!-- LOGO -->
        <div class="logo">PLANT<span>ZONE</span></div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
          <!-- USING CHECKBOX HACK -->
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <!-- NAVIGATION MENUS -->
          <div class="menu" id="menubar">
            <li><a href="/" class="buttonnav active">Home</a></li>
            <li><a href="#aboutid" class="buttonnav">About</a></li>
            <li><a href="/home" class="buttonnav">Blogs</a></li>
            <li class="services">
              <a href="/" class="buttonnav">Services</a>
              <!-- DROPDOWN MENU -->
              <ul class="dropdown">
                <li><a href="./flower-app (1).html">Flower App</a></li>
                <li><a href="/">Dropdown 2</a></li>
                <li><a href="/">Dropdown 3</a></li>
              </ul>
            </li>
            <li><a href="/">Contact</a></li>
            <li><a href="./editor.html" id="btn" class="buttonnav">Write a Blog..</a></li>
          </div>
        </ul>
      </nav>
 

    <header class="header">
        <div class="content">
            <h1 class="heading">
                <span class="small">“To Plant A Garden Is To Believe In Tomorrow.”</span>
            
            </h1>
            <a href="/editor" class="btn">Want to share something with the world? !!</a>
        </div>
    </header>

    <!-- blog section -->
    <section class="blogs-section">
        <!-- <div class="blog-card">
            <img src="img/header.png" class="blog-image" alt="">
            <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
            <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
            <a href="/" class="btn dark">read</a>
        </div> -->
    </section>

    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>

    <script src="js/firebase.js"></script>
    <script src="js/home.js"></script>
    
</body>
</html>